{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Information",
      "Microsoft.EntityFrameworkCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=syncify;Username=syncify;Password=syncify"
  },
  "Google": {
    "ClientId": "your-client-id",
    "ClientSecret": "your-client-secret"
  },
  "Encryption": {
    "Key": "dev-key-replace-in-production-32b"
  }
}